@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
    font-family: "Fredoka";
    src: url("./fonts/Fredoka-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Fredoka";
    src: url("./fonts/Fredoka-SemiBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.font-fredoka {
    font-family: "Fredoka", sans-serif;
}

body {
    background-color: var(--color-slate-200);
    color: #000;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;

    @variant dark {
        background-color: #000;
        color: #fff;
    }
}
